@import url("https://db.onlinewebfonts.com/c/2eba1e44ff150d867122736d358c496f?family=Draconis");
@font-face {font-family: "Draconis"; 
    src: url("https://db.onlinewebfonts.com/t/2eba1e44ff150d867122736d358c496f.eot"); 
    src: url("https://db.onlinewebfonts.com/t/2eba1e44ff150d867122736d358c496f.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/2eba1e44ff150d867122736d358c496f.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/2eba1e44ff150d867122736d358c496f.woff") format("woff"), url("https://db.onlinewebfonts.com/t/2eba1e44ff150d867122736d358c496f.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/2eba1e44ff150d867122736d358c496f.svg#Draconis") format("svg"); 
}

.header {
    text-align: center;
    font-family: 'Draconis';
    font-size: 80px;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    letter-spacing: 8px;
}
    
body {
    background: #633A23;
    background-image: url("https://64.media.tumblr.com/5d173d23c1db5647bbec729354723e07/tumblr_pdxxv3xW3h1u0031lo1_1280.jpg");
    background-repeat: repeat-y;
    background-position: center center;
    background-size: 100%;
}

#welcome {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;    
    font-family: 'Draconis';
    letter-spacing: 2px;
    text-align: center;
    font-style: italic;
    font-size: 30px;
    margin-top: -20px;
    letter-spacing: 2px;
}

.text-block {
    display: inline-block;
    background-color: #633A23;
    margin-left: 25%;
    margin-right: 25%;
    padding: 1em;
    margin-bottom: 1em;
    width: 50%;
}

h3 {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;    
    font-family: 'Draconis';
    letter-spacing: 2px;
    text-align: left;
    font-size: 30px;
    display: inline-block;
    margin-top: -0.1em;
}

.text-boxes {
    font-family: Tahoma, sans-serif;
    font-size: 18px;
    text-align: justify;
    background-color:#D4CC39;
    padding: 0.5em;
    margin-left: 2em;
    margin-right: 1em;
    display: inline-flex;
    word-wrap: normal;
    width: 90%;
}

h4 {
    display: inline-flex;
    font-family: 'Draconis';
    letter-spacing: 2px;
    font-size: 24px;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;  
}

.list-boxes {
    font-family: Tahoma, sans-serif;
    font-size: 18px;
    text-align: left;
    background-color:#D4CC39;
    padding: 0.5em;
    margin-bottom: 1em;
    margin-left: 2em;
    width: 90%;
}

.list-block {
    display: inline-block;
    background-color: #633A23;
    margin-left: 25%;
    margin-right: 25%;
    padding: 1em;
    width: 50%;
}

.hover-img a {
    position: relative;
}

.hover-img a span {
    position: absolute;
    display: none;
    z-index: 99;
}

.hover-img:hover span {
    display: block;
}

.link-block {
    display: inline-block;
    background-color: #633A23;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 1em;
    padding: 1em;
    width: 50%;
}

.twitter {
    background-color:#D4CC39;
    padding: 5px;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 2em;
    display: inline-block;
}

.linkedIn {
    background-color:#D4CC39;
    padding: 5px;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 2em;
    display: inline-block;
}

.GitHub {
    background-color:#D4CC39;
    padding: 5px;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 2em;
    display: inline-block;
}

.email {
    background-color:#D4CC39;
    padding: 5px;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 2em;
    display: inline-block;
}

.link-boxes {
    width: 20%;
}

#d20dice {
    margin-left: 47%;
    padding-bottom: 5em;
}

#result {
    text-align: center;
    font-family: Tahoma, sans-serif;
    font-size: 18px;
    background-color:#D4CC39;
    padding: 0.9em;
    margin-bottom: 1em;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
}

#me {
    margin-left: 45%;
    padding-bottom: 3em;
}

.skill-block {
    width: fit-content;
    padding: 2em;
}

#ambience {
    display: none;
}