@import url("https://db.onlinewebfonts.com/c/2eba1e44ff150d867122736d358c496f?family=Draconis");
@font-face {font-family: "Draconis"; 
    src: url("https://db.onlinewebfonts.com/t/2eba1e44ff150d867122736d358c496f.eot"); 
    src: url("https://db.onlinewebfonts.com/t/2eba1e44ff150d867122736d358c496f.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/2eba1e44ff150d867122736d358c496f.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/2eba1e44ff150d867122736d358c496f.woff") format("woff"), url("https://db.onlinewebfonts.com/t/2eba1e44ff150d867122736d358c496f.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/2eba1e44ff150d867122736d358c496f.svg#Draconis") format("svg"); 
}

.header {
    text-align: center;
    font-family: 'Draconis';
    font-size: 80px;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    letter-spacing: 8px;
}
    
body {
    background: #633A23;
    background-image: url("https://64.media.tumblr.com/5d173d23c1db5647bbec729354723e07/tumblr_pdxxv3xW3h1u0031lo1_1280.jpg");
    background-repeat:repeat-y;
    background-position: center center;
    background-size: 100%;
}

.about-wrapper {
    text-align: center;
    font-size: 18px;
    display: block;
    background-color: #633A23;
    margin-left: 33.333%;
    margin-right: 33.333%;
    padding-bottom: 1%;
}

.welcome {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;    
    font-family: 'Draconis';
    letter-spacing: 1px;
    text-align: center;
    font-style: italic;
    font-size: 30px;
    margin-top: -20px;
    letter-spacing: 2px;
}

h3 {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;    
    font-family: 'Draconis';
    letter-spacing: 1px;
    text-align: left;
    font-size: 30px;
    letter-spacing: 1px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
}

p {
    font-family: Tahoma, sans-serif;
    text-align: justify;
    margin: 5%;
    padding: 1%;
    display: block;
    background-color:#D4CC39;
    
}

.blog-wrapper {
    font-size: 18px;
    display: block;
    background-color: #633A23;
    margin-left: 33.333%;
    margin-right: 33.333%;
    padding-bottom: 1%;
}

.blog {
    font-family: Tahoma, sans-serif;
    text-align: left;
    margin: 5%;
    padding: 1%;
    display: block;
    background-color:#D4CC39;
}

.link-wrapper {
    font-size: 18px;
    display: block;
    background-color: #633A23;
    margin-left: 33.333%;
    margin-right: 33.333%;
    padding-bottom: 1%;
}

.link-wrapper a {
    background-color:#D4CC39;
    display: inline;
    margin-left: 5%;
    margin-right: 5%;
    padding: 1%;
}